[Unit]
Description=HWT905 Data Cleanup Service
Documentation=https://github.com/aitogy/hwt905-raspi-lite

[Service]
Type=oneshot

# Đường dẫn tới file môi trường
EnvironmentFile=/home/aitogy/hwt905-raspi-lite/.env

# Người dùng để chạy service
User=aitogy
Group=aitogy

# Thư mục làm việc
WorkingDirectory=/home/aitogy/hwt905-raspi-lite

# Lệnh để chạy kịch bản cleanup
ExecStart=/home/aitogy/hwt905-raspi-lite/venv/bin/python3.11 scripts/cleanup.py

# Ghi log vào journal
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hwt-cleanup 