[Unit]
Description=HWT905 Data Sender Service
Documentation=https://github.com/aitogy/hwt905-raspi-lite
# Dịch vụ này chỉ nên chạy sau khi mạng đã sẵn sàng
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

# Đường dẫn tới file môi trường
EnvironmentFile=/home/aitogy/hwt905-raspi-lite/.env

# Người dùng để chạy service
User=aitogy
Group=aitogy

# Thư mục làm việc
WorkingDirectory=/home/aitogy/hwt905-raspi-lite

# Lệnh để chạy kịch bản sender
ExecStart=/home/aitogy/hwt905-raspi-lite/venv/bin/python3.11 scripts/sender.py

# Ghi log vào journal
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hwt-sender 